.footer {
  padding-top: 45px;
  padding-bottom: 60px;
  color: $color-gray;
  background-color: $color-dark;
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: $color-gray-dark;
  }
  a:hover {
    color: $color-white;
  }
}
